/* Custom scrollbar for sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

/* Active Link Animation */
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 20%;
  height: 60%;
  width: 4px;
  background: #3b82f6;
  border-radius: 0 4px 4px 0;
}